{% extends "base.html" %}
{% load static %}

{% block content%}

<section class="masthead">
    <div class="container overlay rounded">
        <div class="masthead-subheading">Welcome To</div>
        <div class="masthead-heading text-uppercase">Taste of Italy</div>
        <p class="about-p">Since 1994, Taste of Italy has been serving the finest <strong>Italian cuisine</strong> from
            the heart of London. Born out of an Italian families love of <strong>authentic Italian home
                cooking</strong>, the restaurant has evolved to offer exquisite, freshly prepared dishes inspired by
            <strong>traditional</strong> and <strong>modern</strong> Italy. </p>
    </div>
</section>

<section class="page-section bg-light">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Takeaway Menu</h2>
            <h3 class="section-subheading text-muted">The perfect <strong>Italian takeaway</strong></h3>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="home-page-food">
                    <img class="mx-auto rounded-circle"
                        src="https://taste-of-italy.s3.eu-west-2.amazonaws.com/media/Pork-Wild-Garlic-Meatballs.jpg"
                        alt="Starters">
                    <h4>Starters</h4>
                    <p class="text-muted">Pork & Garlic Meatballs</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="home-page-food">
                    <img class="mx-auto rounded-circle"
                        src="https://taste-of-italy.s3.eu-west-2.amazonaws.com/media/rustica-pinoli.jpg" alt="Mains">
                    <h4>Mains</h4>
                    <p class="text-muted">Rustica Pinoli</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="home-page-food">
                    <img class="mx-auto rounded-circle"
                        src="https://taste-of-italy.s3.eu-west-2.amazonaws.com/media/tiramisu.png" alt="Desserts">
                    <h4>Desserts</h4>
                    <p class="text-muted">Tiramisu</p>
                </div>
            </div>
        </div>
        <div class="text-center">
            <a class="btn btn-primary btn-xl text-uppercase order-btn" href="{% url 'menu' %}">Order</a>
        </div>
    </div>
</section>

<section class="page-section">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Testimonials</h2>
            <h3 class="section-subheading text-muted">Our Customers reviews</h3>
            <div id="reviews-carousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    {% for review in reviews %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{ review.user.username }}</h5>
                                <p class="card-text"><strong>Rating: </strong>{{ review.rating }}/5</p>
                                <p class="card-text">{{ review.comment }}</p>
                                <p class="card-text">{{ review.created_at|date }}</p>
                            </div>
                        </div>
                        {% if request.user.is_superuser %}
                        <a class="text-danger" href="{% url 'delete_review' review.id %}">Delete</a>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#reviews-carousel"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#reviews-carousel"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</section>

{% endblock%}