{% extends "base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'reviews/css/reviews.css' %}">
{% endblock %}
{% block content%}

<section class="masthead">
    <div class="container overlay rounded">
        <div class="masthead-subheading">Welcome To</div>
        <div class="masthead-heading text-uppercase">Taste of Italy</div>
        <p class="about-p">Since 1994, <strong>Taste of Italy</strong> has been a beloved establishment in the heart of
            London, serving up the finest and most <strong>authentic Italian cuisine</strong>. Our restaurant was born
            out of a passion for
            <strong>traditional Italian</strong> home cooking, and over the years, we have evolved to offer
            a menu that is a perfect blend of <strong>classic and contemporary Italian dishes</strong>.
        </p>
        <hr>
        <h5>Opening times</h5>
        <p class="lead">
            Monday - Friday: 12:00pm - 10:00pm
            <br>
            Saturday - Sunday: 12:00pm - 8:00pm
        </p>
    </div>
</section>

<section class="page-section">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">About Us</h2>
            <hr>
            <p class="lead">
                Welcome to Taste of Italy, the premier Italian takeaway that has expanded from our humble beginnings in
                London to now serving customers all over England. Our passion for authentic Italian cuisine is at the
                heart of everything we do, and we're proud to bring the taste of Italy to your doorstep.
            </p>
            <p class="lead">
                Our menu features a wide variety of delicious Italian dishes that are prepared fresh to order using only
                the finest ingredients. From classic pasta dishes to wood-fired pizzas, our menu has something for
                everyone, and our chefs take great care to ensure that every dish is bursting with flavour and cooked to
                perfection.
            </p>
            <p class="lead">
                At Taste of Italy, we're committed to providing our customers with exceptional service when ordering
                from one of our many takeaway outlets throughout England, and we work hard to ensure that every order is
                prepared and delivered promptly.
            </p>
            <p class="lead">
                We also take great pride in our commitment to using sustainable and locally sourced ingredients wherever
                possible. We believe that by supporting local farmers and producers, we can provide our customers with
                the freshest and most delicious ingredients, while also doing our part to help protect the environment.
            </p>
            <p class="lead">
                So whether you're looking for a quick and tasty lunch, a romantic dinner for two, or catering for your
                next event, Taste of Italy has you covered. Order online from many locations throughout England to
                experience the true taste of Italy, right from the comfort of your own home.
            </p>
        </div>
    </div>
</section>

<section class="page-section bg-light">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Takeaway Menu</h2>
            <h3 class="section-subheading text-muted">The perfect <strong>Italian takeaway</strong></h3>
            <hr>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="home-page-food">
                    <img class="mx-auto rounded-circle d-block mb-3"
                        src="https://taste-of-italy.s3.eu-west-2.amazonaws.com/media/Pork-Wild-Garlic-Meatballs.jpg"
                        alt="Starters">
                    <h4 class="text-center">Starters</h4>
                    <p class="lead fs-6">
                        Antipasti, or Italian starters, are a tasty way to kick off a meal. These small dishes feature cured
                        meats, cheeses, olives, and vegetables, often served with bread or crackers. Popular options include
                        bruschetta, caprese salad, and garlic bread. Perfect as a light snack or to start off a larger meal,
                        antipasti will get your taste buds going and set the stage for a fantastic dining experience.
                    </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="home-page-food">
                    <img class="mx-auto rounded-circle d-block mb-3"
                        src="https://taste-of-italy.s3.eu-west-2.amazonaws.com/media/rustica-pinoli.jpg" alt="Mains">
                    <h4 class="text-center">Mains</h4>
                    <p class="lead fs-6">
                        Italian mains, or "piatti principali," feature bold flavors and hearty portions. From classic pastas to
                        meat and fish dishes like Spaghetti Pomodoro and Chicken Calabrese, there's something for everyone.
                        Vegetarians can enjoy Super Zucca Salad or All-The-Greens Risotto, Italian mains are sure to satisfy
                        any appetite.
                    </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="home-page-food">
                    <img class="mx-auto rounded-circle d-block mb-3"
                        src="https://taste-of-italy.s3.eu-west-2.amazonaws.com/media/tiramisu.png" alt="Desserts">
                    <h4 class="text-center">Desserts</h4>
                    <p class="lead fs-6">
                        Italian desserts, or "dolci," are the perfect sweet ending to a meal. From classic Tiramisu to
                        refreshing Limoncello Tart, Italian desserts are known for their decadent flavors and elegant
                        presentation. Whether you crave something creamy or fruity, Italian desserts offer something for every
                        sweet tooth. Indulge in a little bit of la dolce vita with a delicious Italian dessert.
                    </p>
                </div>
            </div>
        </div>
        <div class="text-center mt-5">
            <a class="btn btn-primary btn-xl text-uppercase" href="{% url 'menu' %}">Order</a>
        </div>
    </div>
</section>


<section class="page-section mb-5">
    <div class="container text-center">
        <h2 class="section-heading text-uppercase">Testimonials</h2>
        <h3 class="section-subheading text-muted">Our Customers reviews</h3>
        <hr>
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-offset-2 col-md-8">
                    <div id="testimonial-slider" class="owl-carousel mt-5">
                        {% for review in reviews %}
                        <div class="testimonial">
                            <div class="testimonial-content">
                                <p class="description shadow">
                                    <strong>{{ review.comment }}</strong>
                                    <span class="d-flex align-items-end justify-content-center fs-6 ">Rating:
                                        {{ review.rating }}/5</span>
                                </p>
                            </div>
                            <div class="testimonial-profile">
                                <h3 class="title">
                                    {{ review.user.username }}
                                </h3>
                            </div>
                            {% if request.user.is_superuser %}
                            <a class="text-danger" href="{% url 'delete_review' review.id %}" onclick="return confirm('Are you sure you want to delete this review?')">Delete</a>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                    {% if user.is_authenticated %}
                    <a class="btn btn-primary mt-5" href="{% url 'add_reviews' %}">Leave a review</a>
                    {% else %}
                    <p class="lead text-uppercase">You need to <a href="{% url 'account_signup' %}">Create an account</a> or
                        <a href="{% url 'account_login' %}">login</a> to leave a review.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock%}

{% block postloadjs %}
<script type="text/javascript">
    $(document).ready(function () {
        $("#testimonial-slider").owlCarousel({
            items: 1,
            itemsDesktop: [1000, 1],
            itemsDesktopSmall: [990, 1],
            itemsTablet: [768, 1],
            itemsMobile: [650, 1],
            pagination: true,
            navigation: false,
            autoPlay: true
        });
    });
</script>
{% endblock %}