{% extends "base.html" %}
{% load static %}

{% block content%}

<header class="masthead">
    <div class="container overlay rounded">
        <div class="masthead-subheading">Welcome To</div>
        <div class="masthead-heading text-uppercase">Taste of Italy</div>
        <p class="about-p">Since 1994, Taste of Italy has been serving the finest <strong>Italian cuisine</strong> from the heart of London. Born out of an Italian families love of <strong>authentic Italian home cooking</strong>, the restaurant has evolved to offer exquisite, freshly prepared dishes inspired by <strong>traditional</strong> and <strong>modern</strong> Italy. </p> 
    </div>
</header>

{% endblock%}