{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}
<div class="container mb-2 text-center">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="section-heading text-uppercase">Thank you</h2>
            <hr>
            <p>Your order information is below. A confirmation email will be sent to <strong>{{ order.email}}</strong>.</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 col-lg-7"></div>
    </div>
    
</div>


{% endblock%}