@import url('https://fonts.googleapis.com/css2?family=Atma&family=Just+Another+Hand&display=swap');

html {
    height: 100%;
}

/* Navbar */
ul {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    background-color: #000;
}

.navbar-expand-lg .navbar-collapse {
    flex-basis: 0;
}

.header-font {
    font-family: 'Atma', sans-serif;
    font-size: 2.5rem;
}

.nav-link {
    color: #fff;
    text-decoration: none;
}

.nav-link:hover {
    color: #921f07;
}

.active {
    color: #921f07 !important;
}

.bg-black {
    background: #000;
}