{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mb-2 text-center">
    <div class="row">
        <div class="col">
            <hr class="my-4">
            <h2 class="section-heading text-uppercase">Product Management</h2>
            <h3 class="section-subheading text-muted">All Products</h3>
            <hr class="my-4">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="sticky-top menu-nav rounded-4 container">
                <ul class="nav justify-content-center text-uppercase fw-bold">
                    <li class="nav-item">
                        <a class="nav-link" href="#starters">Starters</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#salads">Salads</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#pizza">Pizza</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#pasta">Pasta</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#risotto">Risotto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#meat-fish">Meat & Fish</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#sides">Sides</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#desserts">Desserts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#soft-drinks">Soft Drinks</a>
                    </li>
                </ul>
            </div>

            <div class="container-fluid mb-2">
                <div class="row">
                    <div class="col">
                        <hr class="my-4">
                        <h5 class="section-subheading text-muted">Starters</h5>
                        <hr class="my-4">
                    </div>
                </div>
            </div>

            <div class="container click-jump" id="starters">
                <div class="row">
                    {% for product in products %}
                    {% if product.category.name == 'starters' %}
                    <div class="col-xl-4 col-lg-6 col-md-8 col-sm-12">
                        <div class="card mb-3">
                            <div class="row g-0">
                                <div class="col-md-4 col-sm-4 col-4">
                                    {% if product.image %}
                                    <img src="{{product.image.url}}" class="card-img rounded-start"
                                        alt="{{product.name}}">
                                    {% else %}
                                    <img src="{{ MEDIA_URL}}noimage.png" class="card-img rounded-start"
                                        alt="{{product.name}}">
                                    {% endif %}
                                </div>
                                <div class="col">
                                    <div class="card-body h-100">
                                        <h6 class="card-title">{{product.name}}</h6>
                                        <p class="card-text">
                                            {{product.description|truncatechars:40}}{% if product.description|length > 40 %}
                                            <span class="text-muted">
                                                <a href="#exampleModal{{product.id}}" class="read-more"
                                                    data-bs-toggle="modal" data-bs-target="#exampleModal{{product.id}}">
                                                    read more
                                                </a>
                                            </span>
                                            {% endif %}
                                        </p>
                                        <div class="d-flex justify-content-between">
                                            <strong class="card-text">£{{product.price}}</strong>
                                            <strong class="card-text">{{product.calories}}kcal</strong>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <a class="text-info" href="{% url 'edit_product' product.id %}">Edit</a>
                                            <a class="text-danger"
                                                href="{% url 'delete_product' product.id %}">Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="exampleModal{{product.id}}" tabindex="-1"
                        aria-labelledby="exampleModalLabel{{product.id}}" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel{{product.id}}">
                                        {{product.name}}
                                    </h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    {{product.description}}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>

            <div class="container-fluid mb-2">
                <div class="row">
                    <div class="col">
                        <hr class="my-4">
                        <h5 class="section-subheading text-muted">Salads</h5>
                        <hr class="my-4">
                    </div>
                </div>
            </div>

            <div class="container click-jump" id="salads">
                <div class="row">
                    {% for product in products %}
                    {% if product.category.name == 'salads' %}
                    <div class="col-xl-4 col-lg-6 col-md-8 col-sm-12">
                        <div class="card mb-3">
                            <div class="row g-0">
                                <div class="col-md-4 col-sm-4 col-4">
                                    {% if product.image %}
                                    <img src="{{product.image.url}}" class="card-img rounded-start"
                                        alt="{{product.name}}">
                                    {% else %}
                                    <img src="{{ MEDIA_URL}}noimage.png" class="card-img rounded-start"
                                        alt="{{product.name}}">
                                    {% endif %}
                                </div>
                                <div class="col">
                                    <div class="card-body">
                                        <h6 class="card-title">{{product.name}}</h6>
                                        <p class="card-text">
                                            {{product.description|truncatechars:40}}{% if product.description|length > 40 %}
                                            <span class="text-muted">
                                                <a href="#exampleModal{{product.id}}" class="read-more"
                                                    data-bs-toggle="modal" data-bs-target="#exampleModal{{product.id}}">
                                                    read more
                                                </a>
                                            </span>
                                            {% endif %}
                                        </p>
                                        <div class="d-flex justify-content-between">
                                            <strong class="card-text">£{{product.price}}</strong>
                                            <strong class="card-text">{{product.calories}}kcal</strong>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <a class="text-info" href="{% url 'edit_product' product.id %}">Edit</a>
                                            <a class="text-danger"
                                                href="{% url 'delete_product' product.id %}">Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="exampleModal{{product.id}}" tabindex="-1"
                        aria-labelledby="exampleModalLabel{{product.id}}" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel{{product.id}}">
                                        {{product.name}}
                                    </h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    {{product.description}}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>

            <div class="container-fluid mb-2">
                <div class="row">
                    <div class="col">
                        <hr class="my-4">
                        <h5 class="section-subheading text-muted">Pizza</h5>
                        <hr class="my-4">
                    </div>
                </div>
            </div>

            <div class="container click-jump" id="pizza">
                <div class="row">
                    {% for product in products %}
                    {% if product.category.name == 'pizza' %}
                    <div class="col-xl-4 col-lg-6 col-md-8 col-sm-12">
                        <div class="card mb-3">
                            <div class="row g-0">
                                <div class="col-md-4 col-sm-4 col-4">
                                    {% if product.image %}
                                    <img src="{{product.image.url}}" class="card-img rounded-start"
                                        alt="{{product.name}}">
                                    {% else %}
                                    <img src="{{ MEDIA_URL}}noimage.png" class="card-img rounded-start"
                                        alt="{{product.name}}">
                                    {% endif %}
                                </div>
                                <div class="col">
                                    <div class="card-body">
                                        <h6 class="card-title">{{product.name}}</h6>
                                        <p class="card-text mb-3">
                                            {{product.description|truncatechars:40}}{% if product.description|length > 40 %}
                                            <span class="text-muted">
                                                <a href="#exampleModal{{product.id}}" class="read-more"
                                                    data-bs-toggle="modal" data-bs-target="#exampleModal{{product.id}}">
                                                    read more
                                                </a>
                                            </span>
                                            {% endif %}
                                        </p>
                                        <div class="d-flex justify-content-between mb-2">
                                            <strong class="card-text">£{{product.price}}</strong>
                                            <strong class="card-text">{{product.calories}}kcal</strong>
                                        </div>
                                        <div class="d-flex justify-content-evenly align-items-end">
                                            <a class="text-info" href="{% url 'edit_product' product.id %}"
                                                onclick="return confirm('Are you sure you want to delete this product?')">Edit</a>
                                            <a class="text-danger" href="{% url 'delete_product' product.id %}"
                                                onclick="return confirm('Are you sure you want to delete this product?')">Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="exampleModal{{product.id}}" tabindex="-1"
                        aria-labelledby="exampleModalLabel{{product.id}}" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel{{product.id}}">
                                        {{product.name}}
                                    </h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    {{product.description}}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid mb-2">
        <div class="row">
            <div class="col">
                <hr class="my-4">
                <h5 class="section-subheading text-muted">Pasta</h5>
                <hr class="my-4">
            </div>
        </div>
    </div>

    <div class="container click-jump" id="pasta">
        <div class="row">
            {% for product in products %}
            {% if product.category.name == 'pasta' %}
            <div class="col-xl-4 col-lg-6 col-md-8 col-sm-12">
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4 col-sm-4 col-4">
                            {% if product.image %}
                            <img src="{{product.image.url}}" class="card-img rounded-start" alt="{{product.name}}">
                            {% else %}
                            <img src="{{ MEDIA_URL}}noimage.png" class="card-img rounded-start" alt="{{product.name}}">
                            {% endif %}
                        </div>
                        <div class="col">
                            <div class="card-body">
                                <h6 class="card-title">{{product.name}}</h6>
                                <p class="card-text">
                                    {{product.description|truncatechars:40}}{% if product.description|length > 40 %}
                                    <span class="text-muted">
                                        <a href="#exampleModal{{product.id}}" class="read-more" data-bs-toggle="modal"
                                            data-bs-target="#exampleModal{{product.id}}">
                                            read more
                                        </a>
                                    </span>
                                    {% endif %}
                                </p>
                                <div class="d-flex justify-content-between">
                                    <strong class="card-text">£{{product.price}}</strong>
                                    <strong class="card-text">{{product.calories}}kcal</strong>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <a class="text-info" href="{% url 'edit_product' product.id %}">Edit</a>
                                    <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="exampleModal{{product.id}}" tabindex="-1"
                aria-labelledby="exampleModalLabel{{product.id}}" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel{{product.id}}">
                                {{product.name}}
                            </h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            {{product.description}}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="container-fluid mb-2">
        <div class="row">
            <div class="col">
                <hr class="my-4">
                <h5 class="section-subheading text-muted">Risotto</h5>
                <hr class="my-4">
            </div>
        </div>
    </div>

    <div class="container click-jump" id="risotto">
        <div class="row">
            {% for product in products %}
            {% if product.category.name == 'risotto' %}
            <div class="col-xl-4 col-lg-6 col-md-8 col-sm-12">
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4 col-sm-4 col-4">
                            {% if product.image %}
                            <img src="{{product.image.url}}" class="card-img rounded-start" alt="{{product.name}}">
                            {% else %}
                            <img src="{{ MEDIA_URL}}noimage.png" class="card-img rounded-start" alt="{{product.name}}">
                            {% endif %}
                        </div>
                        <div class="col">
                            <div class="card-body">
                                <h6 class="card-title">{{product.name}}</h6>
                                <p class="card-text">
                                    {{product.description|truncatechars:40}}{% if product.description|length > 40 %}
                                    <span class="text-muted">
                                        <a href="#exampleModal{{product.id}}" class="read-more" data-bs-toggle="modal"
                                            data-bs-target="#exampleModal{{product.id}}">
                                            read more
                                        </a>
                                    </span>
                                    {% endif %}
                                </p>
                                <div class="d-flex justify-content-between">
                                    <strong class="card-text">£{{product.price}}</strong>
                                    <strong class="card-text">{{product.calories}}kcal</strong>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <a class="text-info" href="{% url 'edit_product' product.id %}">Edit</a>
                                    <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="exampleModal{{product.id}}" tabindex="-1"
                aria-labelledby="exampleModalLabel{{product.id}}" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel{{product.id}}">
                                {{product.name}}
                            </h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            {{product.description}}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="container-fluid mb-2">
        <div class="row">
            <div class="col">
                <hr class="my-4">
                <h5 class="section-subheading text-muted">Meat & fish</h5>
                <hr class="my-4">
            </div>
        </div>
    </div>

    <div class="container click-jump" id="meat_fish">
        <div class="row">
            {% for product in products %}
            {% if product.category.name == 'meat_fish' %}
            <div class="col-xl-4 col-lg-6 col-md-8 col-sm-12">
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4 col-sm-4 col-4">
                            {% if product.image %}
                            <img src="{{product.image.url}}" class="card-img rounded-start" alt="{{product.name}}">
                            {% else %}
                            <img src="{{ MEDIA_URL}}noimage.png" class="card-img rounded-start" alt="{{product.name}}">
                            {% endif %}
                        </div>
                        <div class="col">
                            <div class="card-body">
                                <h6 class="card-title">{{product.name}}</h6>
                                <p class="card-text">
                                    {{product.description|truncatechars:40}}{% if product.description|length > 40 %}
                                    <span class="text-muted">
                                        <a href="#exampleModal{{product.id}}" class="read-more" data-bs-toggle="modal"
                                            data-bs-target="#exampleModal{{product.id}}">
                                            read more
                                        </a>
                                    </span>
                                    {% endif %}
                                </p>
                                <div class="d-flex justify-content-between">
                                    <strong class="card-text">£{{product.price}}</strong>
                                    <strong class="card-text">{{product.calories}}kcal</strong>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <a class="text-info" href="{% url 'edit_product' product.id %}">Edit</a>
                                    <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="exampleModal{{product.id}}" tabindex="-1"
                aria-labelledby="exampleModalLabel{{product.id}}" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel{{product.id}}">
                                {{product.name}}
                            </h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            {{product.description}}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>


    <div class="container-fluid mb-2">
        <div class="row">
            <div class="col">
                <hr class="my-4">
                <h5 class="section-subheading text-muted">Sides</h5>
                <hr class="my-4">
            </div>
        </div>
    </div>

    <div class="container click-jump" id="sides">
        <div class="row">
            {% for product in products %}
            {% if product.category.name == 'sides' %}
            <div class="col-xl-4 col-lg-6 col-md-8 col-sm-12">
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4 col-sm-4 col-4">
                            {% if product.image %}
                            <img src="{{product.image.url}}" class="card-img rounded-start" alt="{{product.name}}">
                            {% else %}
                            <img src="{{ MEDIA_URL}}noimage.png" class="card-img rounded-start" alt="{{product.name}}">
                            {% endif %}
                        </div>
                        <div class="col">
                            <div class="card-body">
                                <h6 class="card-title">{{product.name}}</h6>
                                <p class="card-text">
                                    {{product.description|truncatechars:40}}{% if product.description|length > 40 %}
                                    <span class="text-muted">
                                        <a href="#exampleModal{{product.id}}" class="read-more" data-bs-toggle="modal"
                                            data-bs-target="#exampleModal{{product.id}}">
                                            read more
                                        </a>
                                    </span>
                                    {% endif %}
                                </p>
                                <div class="d-flex justify-content-between">
                                    <strong class="card-text">£{{product.price}}</strong>
                                    <strong class="card-text">{{product.calories}}kcal</strong>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <a class="text-info" href="{% url 'edit_product' product.id %}">Edit</a>
                                    <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="exampleModal{{product.id}}" tabindex="-1"
                aria-labelledby="exampleModalLabel{{product.id}}" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel{{product.id}}">
                                {{product.name}}
                            </h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            {{product.description}}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>


    <div class="container-fluid mb-2">
        <div class="row">
            <div class="col">
                <hr class="my-4">
                <h5 class="section-subheading text-muted">Desserts</h5>
                <hr class="my-4">
            </div>
        </div>
    </div>

    <div class="container click-jump" id="desserts">
        <div class="row">
            {% for product in products %}
            {% if product.category.name == 'desserts' %}
            <div class="col-xl-4 col-lg-6 col-md-8 col-sm-12">
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4 col-sm-4 col-4">
                            {% if product.image %}
                            <img src="{{product.image.url}}" class="card-img rounded-start" alt="{{product.name}}">
                            {% else %}
                            <img src="{{ MEDIA_URL}}noimage.png" class="card-img rounded-start" alt="{{product.name}}">
                            {% endif %}
                        </div>
                        <div class="col">
                            <div class="card-body">
                                <h6 class="card-title">{{product.name}}</h6>
                                <p class="card-text">
                                    {{product.description|truncatechars:40}}{% if product.description|length > 40 %}
                                    <span class="text-muted">
                                        <a href="#exampleModal{{product.id}}" class="read-more" data-bs-toggle="modal"
                                            data-bs-target="#exampleModal{{product.id}}">
                                            read more
                                        </a>
                                    </span>
                                    {% endif %}
                                </p>
                                <div class="d-flex justify-content-between">
                                    <strong class="card-text">£{{product.price}}</strong>
                                    <strong class="card-text">{{product.calories}}kcal</strong>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <a class="text-info" href="{% url 'edit_product' product.id %}">Edit</a>
                                    <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="exampleModal{{product.id}}" tabindex="-1"
                aria-labelledby="exampleModalLabel{{product.id}}" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel{{product.id}}">
                                {{product.name}}
                            </h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            {{product.description}}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>


    <div class="container-fluid mb-2">
        <div class="row">
            <div class="col">
                <hr class="my-4">
                <h5 class="section-subheading text-muted">Soft Drinks</h5>
                <hr class="my-4">
            </div>
        </div>
    </div>

    <div class="container click-jump" id="soft-drinks">
        <div class="row">
            {% for product in products %}
            {% if product.category.name == 'soft_drinks' %}
            <div class="col-xl-4 col-lg-6 col-md-8 col-sm-12">
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4 col-sm-4 col-4">
                            {% if product.image %}
                            <img src="{{product.image.url}}" class="card-img rounded-start" alt="{{product.name}}">
                            {% else %}
                            <img src="{{ MEDIA_URL}}noimage.png" class="card-img rounded-start" alt="{{product.name}}">
                            {% endif %}
                        </div>
                        <div class="col">
                            <div class="card-body">
                                <h6 class="card-title">{{product.name}}</h6>
                                <div class="d-flex justify-content-between">
                                    <strong class="card-text">£{{product.price}}</strong>
                                    <strong class="card-text">{{product.calories}}kcal</strong>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <a class="text-info" href="{% url 'edit_product' product.id %}">Edit</a>
                                    <a class="text-danger"
                                    onclick="return confirm('Are you sure you want to delete this review?')"
                                    href="{% url 'delete_product' product.id %}">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}